body {
    background-color: rgb(212, 207, 207);
}

.title {
    font-weight: bold;
    margin: 20px;
}

.first {
    height: 450px;
    padding-left: 20px;
    margin-bottom: 20px;
    box-shadow: #888888 1px 1px 2px 3px;
    background-color: rgb(245, 244, 244);
}

.all {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 800px;
}

.wen-card {
    text-align: center;
    border: 2px solid rgb(216, 216, 216);
    box-shadow: rgb(196, 187, 187);
    margin: 15px;
}

.wen-card span {
    display: block;
    margin-top: 5px;
    font-style: normal;
}

.card {
    background-size: 120px;
    border: 1px solid rgb(138, 132, 132);
    background-image: url(../level2/good_img.png);
    width: 100px;
    height: 100px;
    margin: 10px;
}

h2,
h3 {
    font-weight: normal;
}

ol li {
    font-weight: bold;
}